.carouselContainer {
  width: 100%;
  position: relative;
  user-select: none;
  height: calc(100vh - 138px);
}

.carouselImage {
  width: 100%;
  object-fit: cover;
  border: none;
  height: calc(100vh - 180px);
  outline: none;
  user-select: none;
}
.carouselImage:focus {
  outline: none; /* Remove the focus outline when the image is focused */
  border: none; /* Ensure no border is applied on focus */
  user-select: none;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10; /* Ensure arrows are on top of images */
  color: white;
  padding: 10px;
}
.slick-slide img {
  -webkit-tap-highlight-color: transparent; /* For Chrome and Safari */
  -moz-tap-highlight-color: transparent; /* For Firefox */
  -ms-tap-highlight-color: transparent; /* For Internet Explorer */
  outline: none;
  user-select: none;
}
.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px;
}
.home {
  /*height: calc(100vh - 138px);*/
  display: flex;
  flex-direction: column;
}
.footerLinks {
  display: flex;
}
.footerLinks a {
  padding: 0.2rem;
  cursor: pointer;
}
.footerLinks a:hover {
  color: rgba(255, 255, 255, 0.466);
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-top: 2px solid #323738;
}
.footerleft,
.footerright {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.footercontact p {
  padding: 0.5rem;
}
.footercontact {
  width: 250px;
}
