.itemPage {
  display: flex;
  background-color: #2b2f30;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.pattern {
  font-weight: 600;
  font-size: 1.5rem;
}

.left {
  border-right: 2px solid #1d2021;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.right {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40%;
}
.nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-start;
  justify-self: flex-start;
}
.last {
  opacity: 0.5;
}
.arrow {
  padding-left: 5px;
  padding-right: 5px;
}
.rarity {
  color: #1d2021;
}
.image {
  padding: 1rem;
}
.rarityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wears {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #7d8a8e;
  border-radius: 5px;
}
.buy {
  background-color: #6abde7;
  border: none;
  color: inherit;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.buy:hover {
  background-color: #477f9b;
}
.wears div {
  padding: 1rem;
  border-bottom: 1px solid #7d8a8e;
  cursor: pointer;
}
.wears div:hover {
  background-color: #444a4b;
}
.wears div:last-child {
  border-bottom: none;
}
.upper {
  border-bottom: 2px solid #1d2021;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.description {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2rem;
}
.upper img {
  max-width: 100%;
  height: auto;
}
.wear {
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.wear p {
  white-space: nowrap;
  padding-right: 1rem;
}
.cratesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  color: rgba(255, 255, 255, 0.491);
  margin-bottom: 2rem;
}
.cratesGrid > *:first-child {
  justify-self: start;
}
.cratesGrid img {
  width: 200px;
  height: auto;
}
.collectionsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  color: rgba(255, 255, 255, 0.491);
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.collectionsGrid > *:first-child {
  justify-self: start;
}
.collectionsGrid li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lower {
  padding: 2rem;
}

.crateItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conk {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.stattrak {
  color: #ff8c11;
  padding-right: 0.3rem !important;
}
.statrakcontainer {
  display: flex;
  border: none;
  padding: 0px !important;
  border-bottom: 1px solid #7d8a8e00 !important;
}
