.itemPage {
  display: flex;
  background-color: #2b2f30;
  height: 100vh;
  box-sizing: border-box;
}
.pattern {
  font-weight: bold;
}

.left {
  border-right: 2px solid #1d2021;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-start;
  justify-self: flex-start;
}
.last {
  opacity: 0.5;
}
.arrow {
  padding-left: 5px;
  padding-right: 5px;
}
.rarity {
  color: #1d2021;
}
.image {
  padding: 1rem;
}
.rarityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wears {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #7d8a8e;
  border-radius: 5px;
}
.buy {
  background-color: #6abde7;
  border: none;
  color: inherit;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  padding: 1.5rem;
}
.buy:hover {
  background-color: #477f9b;
}
.wears li {
  padding: 1rem;
  border-bottom: 1px solid #7d8a8e;
  cursor: pointer;
}
.wears li:hover {
  background-color: #444a4b;
}
.wears li:last-child {
  border-bottom: none;
}
.upper {
  border-bottom: 2px solid #1d2021;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.description {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
