.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: medium;
}
.grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.grid {
  max-width: 100%;
  overflow: hidden;
}
.grid > * {
  border: 2px solid #1d2021;
  padding: 1rem;
}
.grid img {
  max-width: 100%;
  height: auto;
}
